*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body{
    font-family: Arial, Helvetica, sans-serif;
  }
  .head1{
    height: 120vh;
    width: 100%;
    background-image:url(img/clz2.JPG);
    background-size: cover;
    overflow: hidden;
}
.content{
    position: absolute;
    top: 40%;
    left: 8%;
    transform: translateY(-50%);
}
.content-two{
    float: right;
    margin-top: 13%;
    margin-right: 4%;
}
  nav{
      position: fixed;
    background: #0082e6;
    height: 80px;
    width: 100%;
  }
  label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  a.active,a:hover{
    background: #1b9bff;
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: #0082e6;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }
  section{
    background: url(bg1.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
  }

/* We Are going to start about css */
.about{
    width: 100%;
    height: 100%;
    padding: 100px 0px;
    background-color: black;
}
.about img{
    margin: 20px;
    height: 400px;
    width: 430px;
}
.about-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about-text h5{
    color: whitesmoke;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
    transition: 0.5s;
}
.about-text h6{
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text h6 span{
    color: aqua;
}
.about-text p{
    color: blueviolet;
    margin-bottom: 20px;
    letter-spacing: 2px;
    font-size: 15px;
}
.about-text button{
    background-color: #f9004d;
    font-size: 15px;
    border: 2px solid transparent;
    border-radius: 30px;
    color: aquamarine;
    cursor: pointer;
    padding: 12px 30px;
    transition: .4s;
}
.about-text button:hover{
    background-color: transparent;
    border: 2px solid pink;
}

.skill-text{
    width: 500px;
}

/* skills */
.skill{
    width: 100%;
    height: 100%;
    padding: 100px 0px;
    background-color: burlywood;
}
.skill img{
    margin: 10px;
    height: 500px;
    width: 630px;
}
.skill-main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.skill-text h5{
    font-size: 75px;
    text-transform: uppercase;
    margin-bottom: 30px;
    transition: 0.5s;
}
.skill-text h6{
    font-size: 30px;
}
.listskill ul li{
color: red;
font-size: 20px;
text-decoration: none;
list-style-type: none;
}

.service{
    background: black;
    width: 100%;
    padding: 100px 0px;
}
.title{
    font-size: 50px;
    text-align: center;
    color: white;
    margin-bottom: 50px;

}
.title h7{
    color: white;
    font-size: 50px;
    width: 1130px;
    margin: 30px;
    text-align: center;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.card{
    height: 380px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 20px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.card h8{
    font-size: 30px;
    align-items: center;
    color: white;
}
.card .paragraph{
    color: rgb(218, 185, 185);
}
.card .paragraph .servicesbtn{
    color: whitesmoke   ;
    padding-top: 12px;
    border: 2px solid transparent;
    border-top: 20px;
    top: 12px;
    border-right: 20px;
    border-left: 20px;
    margin-bottom: 25px;
    line-height: 27px;
    background-color: #f9004d;
    border-radius: 30px;
    padding: 5px 12px;
}
.card .paragraph .servicesbtn:hover{
    background-color: transparent;
    border: #f9004d;
    cursor: pointer;
}
.main-contct{
    background: #191919;
    text-align: center;
    color: white;
    font-size: 50px;
}
.contect{
    width: 100%;
    height: 563px;
    background: #191919;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.contect h9{
    color: whitesmoke;
}
.contect p{
    color: white;
    font-size: 30px;
    font-weight: bold;
}
.contect .contectbtn{
    background-color: #f9004d;
    font-size: 15px;
    border: 2px solid transparent;
    border-radius: 30px;
    color: aquamarine;
    cursor: pointer;
    padding: 12px 30px;
    transition: .4s;
}
.contect .contectbtn:hover{
    background-color: transparent;
    border: 2px solid pink;
}
.input-item form{
    width: 400px;
    max-width: 100%;
    position: relative;
}
.input-item form input{
    font-size: 20px;
    margin: 12px 30px 12px 10px;
    padding: 12px 30px 12px 10px;
}
.input-item form button{
    background-color: #f9004d;
    font-size: 15px;
    border: 2px solid transparent;
    border-radius: 30px;
    cursor: pointer;
    padding: 12px 30px;
    transition: .4s;
}
.input-item form button:hover{
    background-color: transparent;
    border: 2px solid pink;
}
.input-item form button a{
    color: white;
    font-size: 20px;
}
.certificate{
    width: 100%;
    height: 100%;
    padding: 60px 0px;
    background-color: rgb(49, 7, 7);
}
.certificate img{
    margin: 10px;
    height: 600px;
    width: 700px;
}
.certf-text h5{
    font-size: 70px;
    color: white;
    padding-left: 20px;
    top: 40px;
}
.certf-text h6{
    font-size: 60px;
    padding-left: 20px;
    color: aliceblue;
}
.certf-text h6 span{
    color: #f9004d;
}
.certf-main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cirtflink {
    padding-left: 20px;
    padding: 12px 30px 12px auto;
}
.cirtflink button{
    background-color: #f9004d;
    font-size: 15px;
    border: 2px solid transparent;
    border-radius: 30px;
    cursor: pointer;
    padding: 12px 30px;
    transition: .4s;
}
.cirtflink button:hover{
    background-color: transparent;
    border: 2px solid pink;
}

.cirtflink button a{
    color: white;
}
.social-main{
    text-align: center;
    background: black;
    margin: 40px;
    padding: 50px;
}
.socialmedia h10{
    color: white;
    font-size: 50px;
}
.socialmedia p{
    color: blue;
}
.socialmedia .link {
    margin: 30px;
}
.socialmedia .link a{
   width: 45px;
   height: 45px;
   align-items: center;
   justify-content: center;
   background: white;
   border-radius: 30px;
   margin: 22px 10px;
   text-decoration: none;
   font-size: 22px;
}
.socialmedia .link .fb {
    color: blue;
}
.socialmedia .link  .in{
    color: lightcoral;
}
.socialmedia .link .li{
    color: blue;
}
.socialmedia .link .tw{
    color: rgb(54, 57, 224);
}
.socialmedia .link a:hover{
    background-color: #f9004d;
    color: white;
    transform: scale(1.2);
    transition: .5s;
}

.foot{
    background: black;
   text-align: center;
   color: white;
}

.foot span{
    color: white;
}
.foot p{
    margin: 20px;
}
.cv-main h6{
    font-size: 40px;
}
.cv-main{
    margin-top: 400px;
    margin-left: 110px;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }